@model IEnumerable<Business.Data.UsuariosCE>

@{
    ViewBag.Title = "Listado de Usuarios Creados";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "CrearUsuario")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Usuario")
        </th>
        <th>
            @Html.Label("Nombres")
        </th>
        <th>
            @Html.Label("Apellidos")
        </th>
        <th>
            @Html.Label("Nro Identificación")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificacionFull)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
